@charset "utf-8";
/* CSS Document */
.head{width:100%;background:#f9f9f9; border-bottom:1px solid #dddddd; border-top:1px solid #eeeeee;}
.head_son{height:30px; width:1170px; margin:0 auto;  }
.head_son ul{height:100%;}
.head_son li{float:left; line-height:30px;}
.head_son .left img{margin-top:8px; margin-right:5px;}
.head_son .left .l1{margin-right:18px;}
.head_son .left .l2{color:red; margin-right:14px;}
.head_son .left .l3{padding-right:14px; border-right:1px solid #999; height:14px;margin-top:8px; line-height:0;}
.head_son .left  .l4{margin-left:18px; position:relative;padding-left:5px; }
.head_son .l4 .downLoad{display:none;position:absolute; top:29px; left:-1px;width:164px; background:white; border:1px solid #ccc; z-index:2; border-top:none;text-align:center; }
.head_son .l4 .line{position:absolute; height:0; border-top:1px solid #ccc; right:0;top:-20px;width:67px;}

.head_son .right li{height:14px;margin-top:8px; line-height:0; border-right:1px solid #999;padding:0 8px 0 12px;position:relative;} 
.head_son .right .last{border-right:none;}
.head_son .right .img1{margin-right:5px;}
.head_son .right b{color:red;}

.head_son .right .mine{display:none ;width:100%; position:absolute; left:-1px; top:30px; background:white; border:1px solid #ccc; border-top:none; z-index:2; text-align:center;}
.head_son .mine p{line-height:30px; cursor:pointer; border-radius:5px;}
.head_son li.active{border-right:1px solid #ccc; border-left:1px solid #ccc;background:white;height:30px; line-height:30px; margin-top:0;}
.head_son li.active a{color:#2bb8aa;}
.head_son li.active img{margin-top:8px;}
.head_son .right .shoping{display:none ; height:50px; width:200px; position:absolute; right:-1px; top:30px; background:white; border:1px solid #ccc; z-index:2; border-top:none; line-height:50px;text-align:center; }
.head_son .line2{width:80px; top:0; left:0;position:absolute; height:0; border-top:1px solid #ccc;}



.banner_vip{width:1170px;height:60px;  margin:0 auto; background:url(../image/pic_banner.jpg) no-repeat;position:relative; overflow:hidden;}
.banner_vip .close{position:absolute; top:9px; right:8px; cursor:pointer;}

.logo_city{heigth:57px;width:1170px; margin:0 auto; margin-top:21px;}
.logo_city .city{margin-left:12px; margin-top:8px;}
.logo_city .city_name{font-size:20px;font-weight:bold;}
.logo_city .city_select{width:58px; height:20px;border:1px solid #ccc; text-align:center; line-height:20px; background:#eee; margin-top:5px; color:#999;}
.logo_city .select{overflow:hidden ;width:356px; height:38px; padding:0 68px 0 62px; border:2px solid #2db8ad; margin-left:182px; position:relative;}
.logo_city .select .txt{display:block;width:356px; height:38px;border:none; outline:none; position:absolute; top:0; left:78px; }

.logo_city .select .buy{width:62px;height:38px; border-right:1px solid #ccc;text-align:center; line-height:38px; position:absolute; top:0; left:0;  cursor:pointer;}
.logo_city .select .img1{margin-left:5px;}
.logo_city .select .search{width:68px; height:38px; background:#2db8ad;position:absolute; top:0; right:0; text-align:center; line-height:38px; color:white; cursor:pointer;}
.logo_city .select .message{position:absolute; top:0; left:62px;z-index:3; display:block; width:356px; height:100%; line-height:38px;color:#999; margin-left:10px; }
.logo_city .th img{margin-left:10px;}

.body{width:100%;}
.body .body_sp{width:1170px; height:520px; margin:0 auto; margin-top:30px;}
.body_sp .left{width:244px; height:100%; position:relative; }
.body_sp .left h3{height:40px;width:234px; background:#1cbca7; padding-left:10px; font-size:16px; line-height:40px;color:white;font-weight:bold;}
.body_sp .left .l_ul{ height:480px;border:1px solid #ccc; border-top:none; background:#fafafa; overflow:hidden;}
.body_sp .left .l_ul li{height:52px;border-bottom:1px solid #ccc; margin-left:10px;}
.body_sp .l_ul li .title{font-weight:bold; font-size:16px; margin-left:5px; margin-top:20px}
.body_sp .l_ul li .datail{ margin-top:20px; color:#999;}
.body_sp .datail a{ color:#999;}
.body_sp .left .l_ul .last{border-bottom:none;}

.body_sp .l_ul li.active{background:white ; margin-left:0;padding-left:10px;width:239px;z-index:10; border-right:1px solid white;}
.body_sp .left .left_show{position:absolute; top:40px; right:-139px; padding-left:30px; background:white; display:none;z-index:10;border-right:1px solid #ccc;}
.body_sp .left_show ul{margin-right:30px; }
.body_sp .left_show li{line-height:40px;}

.body_sp .center{ width:724px; position:relative;}
/*加效果*/
.body_sp .center .c_left{width:50px; height:50px; position:absolute; left:20px; top:300px; cursor:pointer;display:none;}
.body_sp .center .c_right{width:50px; height:50px; position:absolute; right:20px; top:300px;cursor:pointer; display:none;}
.body_sp .center .listing{width:694px ; height:323px; overflow:hidden; position:relative;}
.body_sp .center .listing_1{ height:323px; position:absolute;left:0;}
/*加效果*/
.body_sp .center .list{height:40px; width:699px; background:#2bb8aa; padding:0 25px; margin-left:-25px;}
.body_sp .center .list li{float:left;  font-size:16px; line-height:40px; font-weight:bold; padding:0 22px;}
.body_sp .center li.active{background:#00c3b0;}
.body_sp .list a{color:white;}
.body_sp .center .center_detail{padding:0 15px;   height:480px; border:1px solid #ccc; border-top:none;margin-left:-1px; }
.body_sp .center_detail li{height:52px;border-bottom:1px solid #ccc; line-height:52px; font-size:12px;}
.body_sp .center_detail img{margin-top:15px;}
.body_sp .center_detail .span1{color:#999999; font-size:12px; margin-right:17px;}
.body_sp .center_detail a{margin-right:21px;}
.tored{color:red;}
.body_sp .center_detail .foot{height:322px; border-right: 1px solid #ccc; width:345px; position:relative; padding-right:10px;}

.body_sp .center_detail .foot_name{margin-top:25px; font-weight:bold;}
.body_sp .center_detail .foot_mes{margin-top:12px; color:#999;}
.body_sp .center_detail .last{height:323px; padding-left:10px; width:345px; padding-right:0}
.body_sp .center_detail .foot .price{color:red; font-size:24px;position:absolute; bottom:25px; right:30px;;font-family:'微软雅黑';}

.body_sp .right{width:202px; height:100%;}
.body_sp .right h3{width:202px;height:40px; background:#2bb8aa;}
.body_sp .right .top{width:201px;height:158px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center; overflow:hidden;}
.body_sp .right .bottom{overflow:hidden;width:201px;height:321px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center; }
.body_sp .right .top p{margin-top:18px; font-size:16px;font-family:'微软雅黑'; font-weight:bold;} 
.body_sp .right b{color:red;}
.body_sp .right .top img{margin-top:10px; margin-left:48px;}
.body_sp .right .today{margin-top:60px;font-size:26px;font-family:'微软雅黑'; font-weight:bold;}
.body_sp .right .price{margin-top:10px; color:#999;}
.body_sp .right .bottom img{margin-top:30px; margin-left:18px;}

.count{width:1170px; margin:0 auto; margin-top:30px; }
.count .c_tim{height:42px; line-height:42px;}
.count .title{font-size:20px;font-family:'微软雅黑';line-height:42px;}
.count .time{height:40px;width:226px; border:1px solid #ccc; border-radius:5px; margin-left:10px; font-size:12px;line-height:42px;font-family:'微软雅黑';}
.count .start{display:inline-block;width:50px; height:28px;background:#7f7f8f;text-align:center; line-height:28px; margin:5px 10px 0 5px;border-radius:5px; color:white; font-size:12px;}
.count .hours,.count .min,.count .sec{display:inline-block;width:20px; height:28px;background:#7f7f8f;text-align:center; line-height:28px;border-radius:5px; color:white; font-size:12px; -margin-right:2px;}
.count span .special{margin-left:-2px;}
.count .goods{width:100%; height:260px;border:1px solid #ccc; margin-top:10px;}
.count .goods ul{width:100%; height:100%;}
.count .goods li{width:218px; height:250px; border-right:1px solid #ccc; margin-left:-1px; float:left; padding:10px 0 0 15px;}
.count .goods .last{border-right:none;}
.count .goods .p1{margin-top:20px; font-size:12px;}
.count .goods .mes{margin-top:14px; width:203px;padding-bottom:13px;border-bottom:1px dashed #ccc;}
.count .goods .price{color:red;font-family:'微软雅黑';font-size:16px;}
.count .goods .sale{color:#999;}
.count .goods .n_pri{width:96px; height:18px; background:#f76120; margin-top:10px; text-align:center; line-height:18px; color:white;}

.food{width:1170px; margin:0 auto; margin-top:30px; position:relative; }
.food .f_logo{width:100%; height:32px;line-height:32px;}
.food .f_logo .logo{ height:32px;line-height:32px;}
.food .logo b{font-size:20px; font-weight:bold;line-height:32px;}
.food .f_logo ul{height:100%;}
.food .f_logo li{list-style:none;float:left; height:19px;padding:0 10px; border-right:1px solid #ccc; line-height:19px; font-weight:bold; margin-top:8px;}

.food .f_list ul{width:1170px; margin-top:12px;}
.food .f_list li{width:261px; height:302px;border:1px solid #ccc; margin-left:-1px; float:left; margin-top:-1px;  padding:10px 15px 0 15px; position:relative;}
.food .f_list .p1{margin-top:15px;}
.food .f_list .p2{margin-top:10px; color:#999;}
.food .f_list .p3{margin-top:17px;}
.food .f_list .p4{height:0;width:100%; border-top:1px dashed #ccc; margin-top:50px;}
.food .f_list .p5{position:absolute;bottom:20px; right:15px; color:#999;}
.food .f_list .p3 .new_pri{color:red; font-family:'微软雅黑';font-size:16px;}

.food .f_list .old_pri{text-decoration:line-through; font-family:'微软雅黑';}
.food .f_list i{color:#999;}
.food .f_list .sale{color:#999;}
.food .more{width:1170px; height:50px; text-align:center; line-height:50px;background:#f6f6f6;position:absolute; bottom:-49px; left:-2px;}
.food .more a{height:50px;line-height:50px;}
.happy,.movie,.hotel,.serve,.shop,.hair,.travel{width:1170px; margin:0 auto; margin-top:90px; position:relative;}

.end{width:1170px; margin:0 auto; margin-top:90px;}
.end .ul1{height:25px; border:1px solid #eee; display:inline-block;}
.end .ul1 li{padding:0 20px; height:100%; line-height:25px; background:#f9f9f9; border-right:1px solid #eeeeee; float:left;}
.end .ul1 li.active{ background:#eeeeee;}

.end .ul2{height:40px;border:1px solid #eee; line-height:40px;}
.end .ul2 li{margin-right:40px; float:left; line-height:40px; margin-top:-1px;}
.end .ul2 .first{margin-left:15px;}

.line{width:1170px; margin:0 auto; margin-top:20px;}
.line div{height:0; border-top:1px solid #eee;margin-bottom:2px;}

.footer{width:1170px; margin:0 auto; margin-top:20px;}
.footer .first{font-size:16px; font-weight:bold; margin-bottom:20px; margin-top:0;color:black; }
.footer li{margin-top:10px;}
.footer li a{ color:#999;}
.footer .coopr{margin-left:120px;}
.footer .last{padding-right:120px;border-right:1px solid #ccc;margin-left:150px;}

.footer .call{margin-left:30px;}
.footer .call .c_id{margin-top:10px;}
.footer .c_time{margin-top:10px;}
.footer .c_time .b1{font-size:16px; font-family:'微软雅黑'; font-weight:bold;}
.footer .c_time .b2{font-family:'微软雅黑'; color:#999;}
.footer .exchange{margin-top:35px;}
.footer .refer{color:#2bb8aa;margin-top:10px;}
.footer .refer a{color:#2bb8aa;}

.brand{margin-top:40px; height:169px;width:100%; background:#f9f9f9;border-top:1px solid #dddddd; position:relative;}
.brand .con{width:100%; text-align:center;margin-top:20px; color:#999;}
.brand .icon{width:100%; text-align:center;margin-top:30px;}
.brand .new_year{position:absolute; bottom:50px; left:0;cursor:pointer;}
.brand .new_year1{position:absolute; bottom:50px; left:-1578px;}
.brand .new_year1 .new_close{position:absolute; top:10px; right:300px;}
.brand .ftn{position:absolute; bottom:20px; right:10px;}
.brand .ftn li{cursor:pointer;}